<!doctype html>
<html prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />

        <!-- OpenGraph metadata (translation: bullshit) required
            so that platforms like social media (discord/etc.) create pretty embeds of the
            website (so that the link doesn't look as suspicious? Also for search engines
            I think this somewhat matters???)

            Of course, it's generate from the rust side.
         -->
        |OPENGRAPH_METADATA|

        <!-- The compiler handles stylesheets automatically.
            We compile down SASS (that is passed to the CLI) into a minified CSS file.
            This allows the browser to cache it efficiently.
        -->
        <link rel="stylesheet" href="|STYLESHEET|" />

        |HEAD_NODES|
    </head>

    <body>
        <div class="sidebar">
            <div class="sidebar-content">
                <a class="username" href="/about.html">nferhat</a>

                <div class="links">
                    <a href="https://github.com/nferhat">GitHub</a> &bull;
                    <a href="https://linkedin.com/in/nferhat">LinkedIn</a>
                    &bull;
                    <a href="mailto:me@nferhat.dev">E-mail</a>
                </div>
            </div>
        </div>
        <div class="content">|CONTENT|</div>
    </body>
</html>
